Source: libcaes
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: https://code.google.com/p/libcaes/

Package: libcaes
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to support cross-platform AES encryption
 libcaes is a library to support cross-platform AES encryption.

Package: libcaes-dev
Section: libdevel
Architecture: any
Depends: libcaes (= ${Source-Version})
Description: Header files and libraries for developing applications for libcaes
 Header files and libraries for developing applications for libcaes.

