Source: libcaes
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libssl-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libcaes/

Package: libcaes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libcaes-dbg
Description: Library to support cross-platform AES encryption
 libcaes is a library to support cross-platform AES encryption.

Package: libcaes-dbg
Architecture: any
Section: debug
Depends: libcaes (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libcaes
 Debugging symbols for libcaes.

Package: libcaes-dev
Section: libdevel
Architecture: any
Depends: libcaes (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libcaes
 Header files and libraries for developing applications for libcaes.

